<div class="contact-top-image">
    <p>CONTACT US</p>
    <h1>GET IN TOUCH <span>WITH US</span></h1>
</div>

<div class="contact-section">
    <div class="contact-cards">
      <div class="card address">
        <div class="card-header">
            <fa-icon [icon]="faGlobeAsia" class="fa-5x"></fa-icon>
            <h2>Visit Our Office</h2>
        </div>
        <div class="card-body">
          <p class="card-text contacts-cards-p">Flat A, 20/7, Reynolds Neck Str, North </p>
          <p class="card-text contacts-cards-p">Helenaville, FV77 8WS</p>
        </div>
      </div>
      <div class="card phone">
        <div class="card-header">
            <fa-icon [icon]="faHeadphonesAlt" class="fa-5x"></fa-icon>
            <h2>Call Us</h2>
        </div>
        <div class="card-body">        
            <p class="card-text contacts-cards-p">+324 123 45 978 & 01</p>
            <p class="card-text contacts-cards-p">Mon - Friday: 9.00am to 6.00pm</p>
        </div>
      </div>
      <div class="card mail">
        <div class="card-header">
            <fa-icon [icon]="faEnvelopeOpenText" class="fa-5x"></fa-icon>
            <h2>Mail Us</h2>
        </div>
        <div class="card-body">        
            <p class="card-text contacts-cards-p">supportyou@crystalo.com</p>
            <p class="card-text contacts-cards-p">career@crystalo.com</p>
        </div>
      </div>
    </div>
    <p class="contact-section-p">We’re here to help with any question of our customers, <span style="color: red;">Go to FAQ’s</span> </p>
</div>

<div class="form-section">
    <h4>DROP US A LINE</h4>
    <h1>SEND YOUR <span>MESSAGE</span></h1>
    <p>If you have question or would like more information on our works, Please complete the form and <br>
        we’ll aim get back to you with in 24 hours.
    </p>
    <div class="card contact-form-card">
        <form class="contact-form">
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="inputEmail4">First Name</label>
                <input type="email" class="form-control" id="inputEmail4">
              </div>
              <div class="form-group col-md-6">
                <label for="inputPassword4">Last Name</label>
                <input type="password" class="form-control" id="inputPassword4">
              </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="inputState">Enquiry About</label>
                    <select id="inputState" class="form-control">
                      <option selected>Concept Design</option>
                      <option>Project Design</option>
                      <option>Make Overs</option>
                      <option>Consulting</option>
                      <option>Glass & Wrought</option>
                      <option>Space Planning</option>
                    </select>
                </div>
                <div class="form-group col-md-6">
                  <label for="inputPassword4">Phone</label>
                  <input type="password" class="form-control" id="inputPassword4">
                </div>
              </div>
            <div class="form-group">
              <label for="inputAddress">Email Address</label>
              <input type="text" class="form-control" id="inputAddress" placeholder="someone@mailaddress.com">
            </div>
            <div class="form-group">
              <label for="inputAddress2">Comment</label>
              <input type="text" class="form-control" id="inputAddress2" placeholder="Your message...">
            </div>
            <button type="submit" class="btn btn-danger">Send Your Message</button>
        </form>
    </div>
</div>
<div class="job-brochures-section">
    <div class="job-brochures-cards">
        <div class="card job-listing">
            <img src="assets/images/carlos-arthur-m-r-963uzyQwa6s-unsplash.jpg" class="card-img-top" alt="...">
            <div class="card-desc">
                <h1>Find a Career Opportunities</h1>
                <p>View our job listing to find the job around the world</p>
                <button class="btn btn-lg btn-danger">Job Listing</button>
            </div>            
        </div>
        <div class="card brochures">
            <img src="assets/images/spacejoy-9M66C_w_ToM-unsplash.jpg" class="card-img-top" alt="...">
            <div class="card-desc">
                <h1>Attractive & Innovative Designs</h1>
                <p>Here provides 10 interior decoration brochures</p>
                <button class="btn btn-lg btn-danger">Brochures</button>
            </div>            
        </div>
    </div>
</div>

<div class="footer-1">
    <div class="footer1-cards">
        <div class="card each-card">
            <div class="card-header each-card-header">
                <img src="assets/images/logo-1.png" width="140" height="70" >
            </div>
            <div class="card-body">
                <p class="card-text contacts-cards-p">
                    On the other hand, we denounce with righteous <br>
                    indignation and dislike men who are so beguiled and <br>
                    demoralized by the charms of pleasure of the blinded <br>
                    by desiremoment.
                </p>
                <p class="card-text contacts-cards-p">Follw Us On: Facebook / Twitter / Instagram</p>
            </div>
        </div>
        <div class="card each-card">
            <div class="card-header each-card-header">
                <h2>Usefull Links</h2>
            </div>
            <div class="card-body">        
                <div class="use-links">
                    <div class="first-link-part">
                        <div class="each-link"><h3>Concept Design</h3><hr/></div>
                        <div class="each-link"><h3>Project Designs</h3><hr /></div>
                        <div class="each-link"><h3>Make Overs</h3><hr /></div>
                        <div class="each-link"><h3>Consulting</h3><hr /></div>
                    </div>
                    <div class="second-link-part">
                        <div class="each-link"><h3>Concept Design</h3><hr/></div>
                        <div class="each-link"><h3>Project Designs</h3><hr /></div>
                        <div class="each-link"><h3>Make Overs</h3><hr /></div>
                        <div class="each-link"><h3>Consulting</h3><hr /></div>
                    </div>      
                  </div>
            </div>
        </div>
        <div class="card each-card">
            <div class="card-header each-card-header">
                <h2>Subscribe Us</h2>
            </div>
            <div class="card-body">        
                <p class="card-text contacts-cards-p">
                    <input type="text" placeholder="Your Email">
                </p>
                <p class="card-text contacts-cards-p">
                    <button type="submit" class="btn btn-lg btn-danger">Subscribe</button>
                </p>
                <p class="card-text contacts-cards-p">*Subscribe us and get latest news and updates</p>
            </div>
        </div>
    </div>
</div>

<div class="footer-2">
    <div class="footer2-cards">
        <div class="card single-card">
            <div class="card-body">
                <div class="each-card-body">
                    <div class="each-card-body-div">
                        <fa-icon [icon]="faGlobeAsia" class="fa-5x"></fa-icon> 
                    </div>
                    <div class="each-card-body-div">
                        <p class="card-text contacts-cards-p">Flat A, 20/7, Reynolds Neck Str, North </p>
                        <p class="card-text contacts-cards-p">Helenaville, FV77 8WS</p>
                    </div>
                </div>
                <div class="each-card-body">
                    <div class="each-card-body-div">
                        <fa-icon [icon]="faHeadphonesAlt" class="fa-5x"></fa-icon>
                    </div>
                    <div class="each-card-body-div">
                        <p class="card-text contacts-cards-p">+324 123 45 978 & 01</p>
                        <p class="card-text contacts-cards-p">Mon - Friday: 9.00am to 6.00pm</p>
                    </div>
                </div>
                <div class="each-card-body">
                    <div class="each-card-body-div">
                        <fa-icon [icon]="faEnvelopeOpenText" class="fa-5x"></fa-icon>
                    </div>
                    <div class="each-card-body-div">
                        <p class="card-text contacts-cards-p">supportyou@crystalo.com</p>
                        <p class="card-text contacts-cards-p">career@crystalo.com</p>
                    </div>
                </div>                 
            </div>
        </div>
    </div>
</div>


