<div class="about-us-top-image">
    <hr class="about-us-hr"> <br>
    <h1>TALENTED INTERIOR </h1>
    <h1>DESIGNER.</h1>
</div>

<div class="about-company">
    <div class="company-overview-1">
        <p>COMPANY OVERVIEW</p>
    </div>
    <div class="company-overview-2">
        <div class="company-overview-2-h1">
            <p>MODERN & LUXURY</p>
            <h1>INTERIOR DESIGNERS IN USA</h1>
        </div>
        <div class="company-overview-2-p">
            <p>
                We feel that interior design is one of the most important investments you will ever make. <br>
                Whether your needs are Residential or Commercial Interior Design or Model Home <br>
                Merchandising, our commitment to your project.
            </p>
        </div>        
    </div> 
    <div class="container">
        <div class="row">
            <div class="four col-md-3">
                <div class="counter-box colored"> <i class="fa fa-thumbs-o-up"></i> <span class="counter">36</span>
                    <p>Years of Experience</p>
                </div>
            </div>
            <div class="four col-md-3">
                <div class="counter-box"> <i class="fa fa-group"></i> <span class="counter">5000</span>
                    <p>Projects Completed</p>
                </div>
            </div>
            <div class="four col-md-3">
                <div class="counter-box"> <i class="fa fa-shopping-cart"></i> <span class="counter">24</span>
                    <p>Branches Worldwide</p>
                </div>
            </div>
            <div class="four col-md-3">
                <div class="counter-box"> <i class="fa fa-user"></i> <span class="counter">47</span>
                    <p>Awards Holds in Hands</p>
                </div>
            </div>
        </div>
    </div>   
</div>


<div class="team-details">
    <div class="team-details-1">
        <p>BEHIND OUR COMPANY</p>
    </div>
    <div class="team-details-2">
        <h1>EXPERT & EXPERIENCED TEAM</h1>
        <button class="btn btn-lg btn-danger">All Members</button>
    </div>
    <div class="team-details-3">
        <div class="card profile">
            <div class="card-image">
                <img src="https://image.ibb.co/dUTfmJ/profile_img.jpg" alt="profile one">
            </div>
            <ul class="social-icons">
                <li>
                  <a href="">
                    <fa-icon [icon]="faGlobeAsia" class="fa-2x fab"></fa-icon> 
                  </a>
                </li>
                <li>
                  <a href="">
                    <fa-icon [icon]="faGlobeAsia" class="fa-2x fab"></fa-icon> 
                  </a>
                </li>
                <li>
                  <a href="">
                    <fa-icon [icon]="faGlobeAsia" class="fa-2x fab"></fa-icon> 
                  </a>
                </li>
                <li>
                  <a href="">
                    <fa-icon [icon]="faGlobeAsia" class="fa-2x fab"></fa-icon> 
                  </a>
                </li>
            </ul>
            <div class="details">
                <h2>John Smith
                  <br>
                  <span class="job-title">UI Developer</span>
                </h2>
            </div>
        </div>
        <div class="card profile">
            <div class="card-image">
                <img src="https://image.ibb.co/dUTfmJ/profile_img.jpg" alt="profile one">
            </div>
            <ul class="social-icons">
                <li>
                  <a href="">
                    <fa-icon [icon]="faGlobeAsia" class="fa-2x fab"></fa-icon> 
                  </a>
                </li>
                <li>
                  <a href="">
                    <fa-icon [icon]="faGlobeAsia" class="fa-2x fab"></fa-icon> 
                  </a>
                </li>
                <li>
                  <a href="">
                    <fa-icon [icon]="faGlobeAsia" class="fa-2x fab"></fa-icon> 
                  </a>
                </li>
                <li>
                  <a href="">
                    <fa-icon [icon]="faGlobeAsia" class="fa-2x fab"></fa-icon> 
                  </a>
                </li>
            </ul>
            <div class="details">
                <h2>John Smith
                  <br>
                  <span class="job-title">UI Developer</span>
                </h2>
            </div>
        </div>
        <div class="card profile">
            <div class="card-image">
                <img src="https://image.ibb.co/dUTfmJ/profile_img.jpg" alt="profile one">
            </div>
            <ul class="social-icons">
                <li>
                  <a href="">
                    <fa-icon [icon]="faGlobeAsia" class="fa-2x fab"></fa-icon> 
                  </a>
                </li>
                <li>
                  <a href="">
                    <fa-icon [icon]="faGlobeAsia" class="fa-2x fab"></fa-icon> 
                  </a>
                </li>
                <li>
                  <a href="">
                    <fa-icon [icon]="faGlobeAsia" class="fa-2x fab"></fa-icon> 
                  </a>
                </li>
                <li>
                  <a href="">
                    <fa-icon [icon]="faGlobeAsia" class="fa-2x fab"></fa-icon> 
                  </a>
                </li>
            </ul>
            <div class="details">
                <h2>John Smith
                  <br>
                  <span class="job-title">UI Developer</span>
                </h2>
            </div>
        </div>
        <div class="card profile">
            <div class="card-image">
                <img src="https://image.ibb.co/dUTfmJ/profile_img.jpg" alt="profile one">
            </div>
            <ul class="social-icons">
                <li>
                  <a href="">
                    <fa-icon [icon]="faGlobeAsia" class="fa-2x fab"></fa-icon> 
                  </a>
                </li>
                <li>
                  <a href="">
                    <fa-icon [icon]="faGlobeAsia" class="fa-2x fab"></fa-icon> 
                  </a>
                </li>
                <li>
                  <a href="">
                    <fa-icon [icon]="faGlobeAsia" class="fa-2x fab"></fa-icon> 
                  </a>
                </li>
                <li>
                  <a href="">
                    <fa-icon [icon]="faGlobeAsia" class="fa-2x fab"></fa-icon> 
                  </a>
                </li>
            </ul>
            <div class="details">
                <h2>John Smith
                  <br>
                  <span class="job-title">UI Developer</span>
                </h2>
            </div>
        </div>
    </div>
</div>




<div class="footer-1">
    <div class="footer1-cards">
        <div class="card each-card">
            <div class="card-header each-card-header">
                <img src="assets/images/logo-1.png" width="80" height="80" >
            </div>
            <div class="card-body">
                <p class="card-text contacts-cards-p">
                    On the other hand, we denounce with righteous <br>
                    indignation and dislike men who are so beguiled and <br>
                    demoralized by the charms of pleasure of the blinded <br>
                    by desiremoment.
                </p>
                <p class="card-text contacts-cards-p">Follw Us On: Facebook / Twitter / Instagram</p>
            </div>
        </div>
        <div class="card each-card">
            <div class="card-header each-card-header">
                <h2>Usefull Links</h2>
            </div>
            <div class="card-body">        
                <div class="use-links">
                    <div class="first-link-part">
                        <div class="each-link"><h3>Concept Design</h3><hr/></div>
                        <div class="each-link"><h3>Project Designs</h3><hr /></div>
                        <div class="each-link"><h3>Make Overs</h3><hr /></div>
                        <div class="each-link"><h3>Consulting</h3><hr /></div>
                    </div>
                    <div class="second-link-part">
                        <div class="each-link"><h3>Concept Design</h3><hr/></div>
                        <div class="each-link"><h3>Project Designs</h3><hr /></div>
                        <div class="each-link"><h3>Make Overs</h3><hr /></div>
                        <div class="each-link"><h3>Consulting</h3><hr /></div>
                    </div>      
                  </div>
            </div>
        </div>
        <div class="card each-card">
            <div class="card-header each-card-header">
                <h2>Subscribe Us</h2>
            </div>
            <div class="card-body">        
                <p class="card-text contacts-cards-p">
                    <input type="text" placeholder="Your Email">
                </p>
                <p class="card-text contacts-cards-p">
                    <button type="submit" class="btn btn-lg btn-danger">Subscribe</button>
                </p>
                <p class="card-text contacts-cards-p">*Subscribe us and get latest news and updates</p>
            </div>
        </div>
    </div>
</div>

<div class="footer-2">
    <div class="footer2-cards">
        <div class="card single-card">
            <div class="card-body">
                <div class="each-card-body">
                    <div class="each-card-body-div">
                        <fa-icon [icon]="faGlobeAsia" class="fa-5x"></fa-icon> 
                    </div>
                    <div class="each-card-body-div">
                        <p class="card-text contacts-cards-p">Flat A, 20/7, Reynolds Neck Str, North </p>
                        <p class="card-text contacts-cards-p">Helenaville, FV77 8WS</p>
                    </div>
                </div>
                <div class="each-card-body">
                    <div class="each-card-body-div">
                        <fa-icon [icon]="faHeadphonesAlt" class="fa-5x"></fa-icon>
                    </div>
                    <div class="each-card-body-div">
                        <p class="card-text contacts-cards-p">+324 123 45 978 & 01</p>
                        <p class="card-text contacts-cards-p">Mon - Friday: 9.00am to 6.00pm</p>
                    </div>
                </div>
                <div class="each-card-body">
                    <div class="each-card-body-div">
                        <fa-icon [icon]="faEnvelopeOpenText" class="fa-5x"></fa-icon>
                    </div>
                    <div class="each-card-body-div">
                        <p class="card-text contacts-cards-p">supportyou@crystalo.com</p>
                        <p class="card-text contacts-cards-p">career@crystalo.com</p>
                    </div>
                </div>                 
            </div>
        </div>
    </div>
</div>