.about-us-top-image {
    margin-top: -20px;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    padding: 100px;
    background-image: url('../../../assets/images/victor-hughes-i-kp9etCTzA-unsplash.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 500px;    
    line-height: 2;
    letter-spacing: 2px;
    font-weight: bold;
    opacity: 1;
}

.about-us-hr {
    margin-top: 150px;
    margin-left: 5px;
    height: 5px;
    color: white;
    width: 100px;
    background-color: white;
    border-radius: 0px;
}

.about-us-top-image > h1 {
    color: white;
    font-size: 50px;
}

.about-company {
    padding: 200px;
    display: flex;
    flex-direction: column;
    margin-top: -100px;
    background-color: whitesmoke;
}

.company-overview-2 {
    display: flex;
    justify-content: space-between;
    line-height: 1.6;
}

.company-overview-1 > p {
    color: red;
}

.company-overview-2-h1 {
    font-size: 30px;
}

.company-overview-2-p {
    color: gray;
}

.contacts-cards-p {
    color: gray;
}

.team-details {
    display: flex;
    flex-direction: column;
    padding: 150px;
}

.team-details-2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.team-details-3 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 50px;
}

.profile {
    /* position: absolute; */
    /* top: 50%;
    left: 50%; */
    width: 300px;
    height: 450px;
    /* transform: translate(-50%, -50%); */
    border-radius: 10px;
    overflow: hidden;
    /* box-shadow: 0 5px 18px rgba(0, 0, 0, 0.6); */
    cursor: pointer;
    transition: 0.5s;
}
    
.card-image {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-color: #000;
    transition: .5s;
}
    
.card-image:hover img {
    opacity: 0.4;
    transition: .5s;
}
  
.profile:hover .card-image {
    transform: translateY(-100px);
    transition: all .9s;
}

.social-icons {
    position: absolute;
    top: 50%;
    left: 45%;
    transform: translate(-50%, -50%);
    z-index: 3;
    display: flex;
}
    
.social-icons > li {
    list-style: none;
}
      
.social-icons > li > a  {
    position: relative;
    display: block;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    background: #fff;
    font-size: 23px;
    color: #333;
    font-weight: bold;
    margin: 0 6px;
    transition: .4s;
    transform: translateY(200px);
    opacity: 0;
} 

.profile:hover .social-icons li a {
    transform: translateY(0px);
    opacity: 1; 
}

.social-icons li a:hover {
    background: #000; 
    transition: .2s;
}
.social-icons li a:hover > .fab {
    color: #fff;
} 

.social-icons li a .fab {
    transition: .8s;
}
      
.social-icons li a .fab:hover {
    transform: rotateY(360deg);
    color: #fff;     
}

.profile:hover li:nth-child(1) a {
    transition-delay: 0.1s;
}
.profile:hover li:nth-child(2) a {
  transition-delay: 0.2s;
}
.profile:hover li:nth-child(3) a {
  transition-delay: 0.3s;
}
.profile:hover li:nth-child(4) a {
  transition-delay: 0.4s;
}

.details {
    position: absolute;
    bottom: 0;
    left: 0;
    background: #fff;
    width: 100%;
    height: 120px;
    z-index: 1;
    padding: 10px;
}
  
.details > h2 {
    margin: 30px 0;
    padding: 0;
    text-align: center;
}
       
.details > h2 > .job-title {
    font-size: 1rem;
    line-height: 2.5rem;
    color: #333;
    font-weight: 300;
}

.footer-1 {
    background-color: #27282c;
    padding-bottom: 100px;
    line-height: 2;
    letter-spacing: 2px;
}

.footer1-cards {
    display: flex;
    align-items: baseline;
    justify-content: space-around;
    /* padding-bottom: 200px; */
}

.footer1-cards .card-header > h2 {
    color: white;
}

.footer1-cards .card {
    border: 0px;
    border-radius: 0px;
    background-color: #27282c;
    margin-top: 80px;    
}

.footer1-cards .card-header {
    border: 0px;
}

.use-links {
    color: gray;
    display: flex;
    justify-content: space-between
}

.first-link-part {
    padding: 10px;
    padding-right: 30px;
}

.second-link-part {
    /* border-left: 1px solid gray; */
    margin-left: 10px;
    padding: 10px;
    padding-left: 10px;
}

.contacts-cards-p > input {
    height: 60px;
    width: 425px;
}
button {
    border-radius: 0px;
}

.footer-2 {
    background-color:#1f1f23;
    padding-bottom: 100px;   
    line-height: 2;
    letter-spacing: 2px;
    /* margin-bottom: 10px;  */
    /* margin: 10px; */
}

.footer2-cards {      
    border: 0px;
    border-radius: 0px;   
    padding-top: 100px;
    padding-left: 100px;
    padding-right: 100px;  
    padding-bottom: 0px;
}

.single-card {
    border: 0px;
    border-radius: 0px;
    margin-top: -150px;
}

.footer2-cards .card .card-body {
    display: flex; 
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.each-card-body {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.each-card-body-div {
    margin: 10px;
}

.container {
    margin-top: 100px;
}

.counter-box {
    display: block;
    background: #f6f6f6;
    padding: 40px 20px 37px;
    text-align: center
}

.counter-box p {
    margin: 5px 0 0;
    padding: 0;
    color: #909090;
    font-size: 18px;
    font-weight: 500
}

.counter-box i {
    font-size: 60px;
    margin: 0 0 15px;
    color: #d2d2d2
}

.counter {
    display: block;
    font-size: 32px;
    font-weight: 700;
    color: #666;
    line-height: 28px
}

.counter-box.colored {
    background: #3acf87
}

.counter-box.colored p,
.counter-box.colored i,
.counter-box.colored .counter {
    color: #fff
}

@media (max-width: 800px) { 

    .about-us-top-image {
        line-height: 2;
        letter-spacing: 3px;
        padding: 50px;
    }
        
    .about-us-top-image > h1 {
        font-size: 40px;
        margin-left: 0px;
        margin-right: 0px;
    }   

    .about-us-hr {
        margin-top: 160px;
        height: 5px;
        color: white;
        width: 100px;
        background-color: white;
        border-radius: 0px;
    }

    .about-company {
        padding: 50px;
        margin-top: 0px;
    }
    
    .company-overview-2 {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        line-height: 1.6;
    }

    .team-details {
        padding: 50px;
    }

    .team-details-2 {
        flex-direction: column;
    }

    .team-details-3 {
        flex-direction: column;
    }

    .profile {
        margin-left: -15px;
        margin-top: 30px;
        border-radius: 5px;
    }

    .footer1-cards {
        flex-direction: column;
    }

    .contacts-cards-p > input {
        height: 60px;
        width: 290px;
    }

    .use-links {
        flex-direction: column;
    }

    .second-link-part {
        margin-left: 0px;
    }

    .footer2-cards {         
        padding-top: 0px;
        padding-left: 0px;
        padding-right: 0px;  
        padding-bottom: 0px;
    }

    .footer2-cards .card .card-body {
        flex-direction: column;
    }
    .single-card {
        margin-top: 0px;
    }

}