<mat-card class="footer-card">
  <div class="address-contact">
    <div>
      <img src="assets/images/logo-1.png"
        width="80"
        height="80"
        class="d-inline-block align-top"
        alt=""
      />
    </div>
    <div class="address">
      <h3>ADDRESS</h3>
      <hr />
      <p>
        Karnataka, India <br />
        Falt 201, Hebbal, Bangalore
      </p>
    </div>
    <div class="phone">
      <h3>PHONE</h3>
      <hr />
      <p>
        +324 123 45 <br />
        Mon - Friday: 9.00 to 18.00
      </p>
    </div>
    <div class="email">
      <h3>EMAIL</h3>
      <hr />
      <p>
        Support@Mailus.Com <br />
        Get a Free Quote
      </p>
    </div>
  </div>
  <div class="services">
    <div>
      <h1>SERVICES</h1>
    </div>
    <hr />
    <div class="service-links">
      <div><h3> Concept Design</h3><hr /></div>
      <div><h3>Project Designs</h3><hr /></div>
      <div><h3>Make Overs</h3><hr /></div>
      <div><h3>Consulting</h3><hr /></div>
      <div><h3>Glass & Wrought</h3><hr /></div>
      <div><h3>Space Planning</h3><hr /></div>
    </div>
  </div>
  <div class="usefull-links">
    <div>
      <h1>USEFULL - LINKS</h1>
    </div>
    <hr />
    <div class="use-links">
      <div class="first-link-part">
        <div class="each-link"><h3> Concept Design</h3><hr/></div>
        <div class="each-link"><h3>Project Designs</h3><hr /></div>
        <div class="each-link"><h3>Make Overs</h3><hr /></div>
        <div class="each-link"><h3>Consulting</h3><hr /></div>
        <div class="each-link"><h3>Glass & Wrought</h3><hr /></div>
        <div class="each-link"><h3>Space Planning</h3><hr /></div>
      </div>
      <div class="second-link-part">
        <div class="each-link"><h3> Concept Design</h3><hr/></div>
        <div class="each-link"><h3>Project Designs</h3><hr /></div>
        <div class="each-link"><h3>Make Overs</h3><hr /></div>
        <div class="each-link"><h3>Consulting</h3><hr /></div>
        <div class="each-link"><h3>Glass & Wrought</h3><hr /></div>
        <div class="each-link"><h3>Space Planning</h3><hr /></div>
      </div>      
    </div>
  </div>
  <!-- <div class="brochure">
    <div>
      <h1>BROCHURE</h1>
    </div>
    <hr />
  </div> -->
</mat-card>

<mat-card class="copyright-card">
  <div>
    <p>&copy; 2009–2019 All Rights Reserved by Nano Interiors.</p>
  </div>
  <div>
    <div class="social-links">
      <p>We are on :</p>
      <div class="icons">
        <div class="single-icon">
          <fa-icon [icon]="faFacebook" class="fa-lg"></fa-icon>
        </div>
        <div><fa-icon [icon]="faInstagram" class="fa-lg"></fa-icon></div>
      </div>
    </div>
  </div>
</mat-card>
