<div class="projects-top-image">
    <p>OUR PROJECTS</p>
    <h1>MORE THAN 2300 PROJECTS</h1>
</div>


<div class="projects-gallery">
    <div class="projects-gallery-1">
        <div class="card profile">
            <div class="content-overlay"></div>
            <!-- <div class="card-image"> -->
                <img src="../../../assets/images/v5-1.jpg" alt="profile one" class="card-image">
            <!-- </div> -->
            <div class="social-icons fadeIn-bottom">
                <p>On that others hand, we will denounce with all righteous of demoralized charms.</p>
            </div>
        </div>
        <div class="card profile">
            <div class="content-overlay"></div>
            <!-- <div class="card-image"> -->
                <img src="../../../assets/images/v5-3.jpg" alt="profile one" class="card-image">
            <!-- </div> -->
            <div class="social-icons fadeIn-bottom">
                <p>On that others hand, we will denounce with all righteous of demoralized charms.</p>
            </div>
        </div>
        <div class="card profile">
            <div class="content-overlay"></div>
            <!-- <div class="card-image"> -->
                <img src="../../../assets/images/v5-6.jpg" alt="profile one" class="card-image">
            <!-- </div> -->
            <div class="social-icons fadeIn-bottom">
                <p>On that others hand, we will denounce with all righteous of demoralized charms.</p>
            </div>
        </div>
        <div class="card profile">
            <div class="content-overlay"></div>
            <!-- <div class="card-image"> -->
                <img src="../../../assets/images/v5-8.jpg" alt="profile one" class="card-image">
            <!-- </div> -->
            <div class="social-icons fadeIn-bottom">
                <p>On that others hand, we will denounce with all righteous of demoralized charms.</p>
            </div>
        </div>
    </div>
    <div class="projects-gallery-2">
        <div class="card profile">
            <div class="content-overlay"></div>
            <!-- <div class="card-image"> -->
                <img src="../../../assets/images/v5-2.jpg" alt="profile one" class="card-image">
            <!-- </div> -->
            <div class="social-icons fadeIn-bottom">
                <p>On that others hand, we will denounce with all righteous of demoralized charms.</p>
            </div>
        </div>
        <div class="card profile">
            <div class="content-overlay"></div>
            <!-- <div class="card-image"> -->
                <img src="../../../assets/images/v5-4.jpg" alt="profile one" class="card-image">
            <!-- </div> -->
            <div class="social-icons fadeIn-bottom">
                <p>On that others hand, we will denounce with all righteous of demoralized charms.</p>
            </div>
        </div>
        <div class="card profile">
            <div class="content-overlay"></div>
            <!-- <div class="card-image"> -->
                <img src="../../../assets/images/v5-5.jpg" alt="profile one" class="card-image">
            <!-- </div> -->
            <div class="social-icons fadeIn-bottom">
                <p>On that others hand, we will denounce with all righteous of demoralized charms.</p>
            </div>
        </div>
        <div class="card profile">
            <div class="content-overlay"></div>
            <!-- <div class="card-image"> -->
                <img src="../../../assets/images/v5-7.jpg" alt="profile one" class="card-image">
            <!-- </div> -->
            <div class="social-icons fadeIn-bottom">
                <p>On that others hand, we will denounce with all righteous of demoralized charms.</p>
            </div>
        </div>
    </div>
</div>

<div class="footer-1">
    <div class="footer1-cards">
        <div class="card each-card">
            <div class="card-header each-card-header">
                <img src="../../../assets/images/logo1.jpg" width="100" height="100" >
            </div>
            <div class="card-body">
                <p class="card-text contacts-cards-p">
                    On the other hand, we denounce with righteous <br>
                    indignation and dislike men who are so beguiled and <br>
                    demoralized by the charms of pleasure of the blinded <br>
                    by desiremoment.
                </p>
                <p class="card-text contacts-cards-p">Follw Us On: Facebook / Twitter / Instagram</p>
            </div>
        </div>
        <div class="card each-card">
            <div class="card-header each-card-header">
                <h2>Usefull Links</h2>
            </div>
            <div class="card-body">        
                <div class="use-links">
                    <div class="first-link-part">
                        <div class="each-link"><h3>Concept Design</h3><hr/></div>
                        <div class="each-link"><h3>Project Designs</h3><hr /></div>
                        <div class="each-link"><h3>Make Overs</h3><hr /></div>
                        <div class="each-link"><h3>Consulting</h3><hr /></div>
                    </div>
                    <div class="second-link-part">
                        <div class="each-link"><h3>Concept Design</h3><hr/></div>
                        <div class="each-link"><h3>Project Designs</h3><hr /></div>
                        <div class="each-link"><h3>Make Overs</h3><hr /></div>
                        <div class="each-link"><h3>Consulting</h3><hr /></div>
                    </div>      
                  </div>
            </div>
        </div>
        <div class="card each-card">
            <div class="card-header each-card-header">
                <h2>Subscribe Us</h2>
            </div>
            <div class="card-body">        
                <p class="card-text contacts-cards-p">
                    <input type="text" placeholder="Your Email">
                </p>
                <p class="card-text contacts-cards-p">
                    <button type="submit" class="btn btn-lg btn-danger">Subscribe</button>
                </p>
                <p class="card-text contacts-cards-p">*Subscribe us and get latest news and updates</p>
            </div>
        </div>
    </div>
</div>

<div class="footer-2">
    <div class="footer2-cards">
        <div class="card single-card">
            <div class="card-body">
                <div class="each-card-body">
                    <div class="each-card-body-div">
                        <fa-icon [icon]="faGlobeAsia" class="fa-5x"></fa-icon> 
                    </div>
                    <div class="each-card-body-div">
                        <p class="card-text contacts-cards-p">Flat A, 20/7, Reynolds Neck Str, North </p>
                        <p class="card-text contacts-cards-p">Helenaville, FV77 8WS</p>
                    </div>
                </div>
                <div class="each-card-body">
                    <div class="each-card-body-div">
                        <fa-icon [icon]="faHeadphonesAlt" class="fa-5x"></fa-icon>
                    </div>
                    <div class="each-card-body-div">
                        <p class="card-text contacts-cards-p">+324 123 45 978 & 01</p>
                        <p class="card-text contacts-cards-p">Mon - Friday: 9.00am to 6.00pm</p>
                    </div>
                </div>
                <div class="each-card-body">
                    <div class="each-card-body-div">
                        <fa-icon [icon]="faEnvelopeOpenText" class="fa-5x"></fa-icon>
                    </div>
                    <div class="each-card-body-div">
                        <p class="card-text contacts-cards-p">supportyou@crystalo.com</p>
                        <p class="card-text contacts-cards-p">career@crystalo.com</p>
                    </div>
                </div>                 
            </div>
        </div>
    </div>
</div>