.nav-upper-card {
  background-color: black;
  opacity: 0.8;
  border-radius: 0 !important;
  text-align: center;
  height: 100px;
  align-items: center;
  margin-bottom: 70px;
}

.nav-upper-text {
  color: gray;
  padding-top: 10px;
}

span {
  color: white;
}

#text {
  margin-left: -10px;
}

.navigation-bar {
  color: white !important;
  /* margin-top: -130px;
  margin-left: 130px;
  margin-right: 130px; */
}

.navbar-brand {
  padding: 0;
}

.navbar {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.12), 0 10px 10px rgba(0, 0, 0, 0.26);
  /* height: 60px; */
  padding: 0;
}

.collapse {
  padding: 10px;
}

/* .sticky {
    position: fixed;
} */

.page-container {
  margin-top: 20px;
}

.navbar-nav > li{
  margin-left:10px;
  margin-right:10px;
}

/* .second-logo {
  margin-left: -20px;
} */

/* .btn {
  background-color: darkorange;
} */

.btn-quote {
  background-color: darkorange;
  height: 35px;
  width: 120px;
  font-size: 16px;
}
@media (max-width: 800px) {
  /* .navbar {
    height: 100px;
  } */

  /* .navbar-brand > img {
    width: 80px;
    height: 80px;
  } */

  /* .navigation-bar {
    margin-left: 40px;
    margin-right: 40px;
  } */

  
  .navig-btn {
    display: none;
  }
}
