<!-- <mat-card class="nav-upper-card">
  <p class="nav-upper-text">Interior Designer Interiors, Based On India... <span> Approximate Estimation </span> </p>
</mat-card> -->

<!-- <nav class="nav-upper-card sticky-top">
  <p class="nav-upper-text">Interior Designer Interiors, Based On India... <span> Approximate Estimation </span> </p>
</nav> -->

<!-- <ion-grid class="navigation-bar" data-aos="fade-down">
  <ion-row>
    <ion-col></ion-col>
    <ion-col size="10" #navigationBar>
      <nav  class="navbar navbar-expand-lg navbar-light bg-light sticky-top" #stickyMenu [class.sticky] = "sticky">
        <a class="navbar-brand" [routerLink]="'/home'">          
          <img src="../assets/images/logo1.jpg" width="100" height="100" class="d-inline-block align-top" alt="">          
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarScroll" aria-controls="navbarScroll" 
            aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarScroll">
          <ul class="navbar-nav mr-auto my-2 my-lg-0 navbar-nav-scroll" style="max-height: 100px;">
            <li class="nav-item">
              <a class="nav-link" [routerLink]="'/home'" routerLinkActive="active-link">HOME</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [routerLink]="'/about-us'" routerLinkActive="active-link">ABOUT US</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [routerLink]="'/home'" routerLinkActive="active-link">SERVICES</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [routerLink]="'/home'" routerLinkActive="active-link">CONTACT</a>
            </li>
          </ul>
        </div>
      </nav>
    </ion-col>
    <ion-col></ion-col>
  </ion-row>    
</ion-grid> -->

<div class="nav-upper-card">
  <p class="nav-upper-text">Interior Designer Interiors, Based On India... <span> Approximate Estimation </span> </p>  
</div>

<nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top navigation-bar" #stickyMenu [class.sticky] = "sticky">
  <a class="navbar-brand" [routerLink]="'/home'">          
    <img src="./assets/images/logo1.jpg" width="100" height="100" class="d-inline-block align-top" alt="">          
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarScroll" aria-controls="navbarScroll" 
      aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarScroll">
    <ul class="navbar-nav mr-auto my-2 my-lg-0 navbar-nav-scroll" style="max-height: 100px;">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="'/home'" routerLinkActive="active-link">HOME</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="'/about-us'" routerLinkActive="active-link">ABOUT US</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="'/services'" routerLinkActive="active-link">SERVICES</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="'/projects'" routerLinkActive="active-link">PROJECTS</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="'/contact'" routerLinkActive="active-link">CONTACT</a>
      </li>
    </ul>
  </div>
</nav>

<div class="page-container">
  <router-outlet></router-outlet>
</div>